In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
import pickle

In [3]:
PATH1='Z:\\project-datasets\\ARDS\\ml_algorithms\\MIMIC IV\\'  #PATH of the directory that stores the final dataset 
PATH2='Z:\\project-datasets\\ARDS\\ml_algorithms\\MIMIC IV\\'  #PATH of the directory that stores the pickles

In [4]:
testdata=pd.read_csv(PATH1+'structured_2Htest.csv')

In [5]:
testdata.head()

,rr,sbp,dbp,temp,Vtset,hr,o2flow_rate,fio2,spo2,Vte,...,support_supl_mask,support_supl_nc,support_supl_nrb,support_supl_trach,support_unknown,GenderCode_F,GenderCode_M,PatientID,time,EncounterID
0,20.0,110.0,60.0,98.3,400.0,80.0,0.0,21.0,98.0,400.0,...,0,0,0,0,1,0,1,18826698,2157-09-23 22:00:00,20002252
1,21.0,146.0,60.0,98.3,400.0,80.0,0.0,21.0,93.0,400.0,...,0,0,0,0,1,0,1,18826698,2157-09-24 00:00:00,20002252
2,21.0,148.0,60.0,98.6,400.0,78.0,0.0,21.0,96.0,400.0,...,0,0,0,0,0,0,1,18826698,2157-09-24 02:00:00,20002252
3,28.0,128.0,60.0,98.6,400.0,95.0,0.0,21.0,96.0,400.0,...,0,0,0,0,0,0,1,18826698,2157-09-24 04:00:00,20002252
4,18.0,110.0,60.0,98.6,400.0,80.0,0.0,21.0,94.0,400.0,...,0,0,0,0,0,0,1,18826698,2157-09-24 06:00:00,20002252

In [6]:
#standardize
pkl_filename = PATH2+'StandardScaler_model3.pkl'
sc= pickle.load(open(pkl_filename, 'rb'))
X_test_sc= sc.transform(testdata.drop(['EncounterID','PatientID','time'],1))

In [9]:
# load the model from disk
pkl_filename = PATH2+'model3.pkl'
model= pickle.load(open(pkl_filename, 'rb'))

In [10]:
#Get the predicted probabilities of ARDS

In [11]:
testdata['predicted_prob']=model.predict_proba(X_test_sc)[:,1]

In [12]:
testdata.head()

,rr,sbp,dbp,temp,Vtset,hr,o2flow_rate,fio2,spo2,Vte,...,support_supl_nc,support_supl_nrb,support_supl_trach,support_unknown,GenderCode_F,GenderCode_M,PatientID,time,EncounterID,predicted_prob
0,20.0,110.0,60.0,98.3,400.0,80.0,0.0,21.0,98.0,400.0,...,0,0,0,1,0,1,18826698,2157-09-23 22:00:00,20002252,0.000672
1,21.0,146.0,60.0,98.3,400.0,80.0,0.0,21.0,93.0,400.0,...,0,0,0,1,0,1,18826698,2157-09-24 00:00:00,20002252,0.000796
2,21.0,148.0,60.0,98.6,400.0,78.0,0.0,21.0,96.0,400.0,...,0,0,0,0,0,1,18826698,2157-09-24 02:00:00,20002252,0.041481
3,28.0,128.0,60.0,98.6,400.0,95.0,0.0,21.0,96.0,400.0,...,0,0,0,0,0,1,18826698,2157-09-24 04:00:00,20002252,0.038144
4,18.0,110.0,60.0,98.6,400.0,80.0,0.0,21.0,94.0,400.0,...,0,0,0,0,0,1,18826698,2157-09-24 06:00:00,20002252,0.052335